*.env
pytest.ini
*.ini
app/__pycache__
__pycache__/
build/
Lib/
share/
*.cache
platforms/.cache
*oauth.json
*__pycache__
*.pytest_cache
*esboco.txt
*.cfg
platforms/.env
platforms/oauth.json
*yourplaylist/Scripts
*yourplaylist/venv
*yourplaylist/yourplaylist.egg-info
yourplaylist/tests/__pycache__
yourplaylist/tests/.pytest_cache
*yourplaylist/Lib
yourplaylist/ignore
